
<html>  
    <head>  
     <title>Log-In</title>  
    </head>  
    <body>  
    <h1>LOG IN</h1> 
     <form method = "POST" action = "./loginsuccess">  
          <table>  
                <tr><td>Username</td><td><input type = 'username' name = 'username'></td></tr>    
                <tr><td>Password</td><td><input type = 'password' name = 'password'></td></tr>  
                <tr><td><input type = "submit" value = "Submit"></td></tr>  
            </table>   
        </form> 
        <h3>{{ mensaje }}</h3> 
    </body>  
    </html> 